# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar configuraci¢n de WebStorm/IntelliJ
.idea/

# Ignorar archivos de despliegue locales
deploy.sh

# Ignorar node_modules (si a£n no est  en el .gitignore)
node_modules/

